<md-dialog>
<div flex layout-align="start start" layout-padding layou="row">
<h3>Edit labels</h3>
</div>

<div layout="row" layout-padding>
<md-icon md-svg-icon="images/icon/cancel.svg"></md-icon>
<input type="text" placeholder="Create new label" ng-model="label" name="label" style="border:none;outline: 0;width:100%;">
<md-icon ng-click="saveLabel(label)" md-svg-icon="images/icon/done.svg"> </md-icon>
</div>

<div ng-repeat="label in labels" layout="row" layout-align="space-between center">

<md-button ng-click="deleteLabel(label)">
<md-icon md-svg-icon="images/icon/trash.svg"></md-icon>
</md-button>
<div layout-align="center center">{{label.labelName}}</div>
<md-button layout-padding ng-click="updateLabel(label)">
<md-icon md-svg-icon="images/icon/edit.svg"></md-icon>
</md-button>

</div>

<div layout="row" layout-align="end end" style="background-color:#e8e8e8;">
<md-button ng-click="done()">Done</md-button>
</div>
</md-dialog>



