 <div flex layout="row">
<md-sidenav md-is-locked-open="$mdMedia('min-width: 333px')" md-component-id="right"> 
	   
	    <div layout="row">
	    <md-list>
		<md-list-item>
		<md-button> 
		<md-icon md-svg-icon="images/icon/notes.svg" class="avatar">
		</md-icon> 
		 <a ui-sref="home">Notes</a> 
		</md-button>
		</md-list-item> 
		</md-list> 
		</div>
		
		<div layout="row">
		<md-list> 
		<md-list-item> 
		<md-button ui-sref="reminder">
		<md-icon md-svg-icon="images/icon/reminder.svg" class="avatar">
		</md-icon>
		<a ui-sref="reminder">Reminder</a> </md-button> 
		</md-list-item> 
		</md-list>
		</div> 
		
		<div layout="row">
		<md-list> 
		<md-list-item> 
		<md-button>
		<md-icon md-svg-icon="images/icon/archive.svg" class="avatar">
		</md-icon>
		<a ui-sref="archive">Archive</a> 
		</md-button> 
		</md-list-item> 
		</md-list> 
		</div>
		
		<div layout="row">
		<md-list> 
		<md-list-item> 
		<md-button>
		<md-icon md-svg-icon="images/icon/trash.svg" class="avatar">
		</md-icon>
		<a ui-sref="trash">Trash </a>
		</md-button> 
		</md-list-item> 
		</md-list>
		</div> 
		
	    <div layout="row">
		<md-list> 
		<md-list-item> 
		<md-button ng-click="labelDailog($event)">
		<md-icon md-svg-icon="images/icon/label.svg" class="avatar">
		</md-icon>
		Create New Label
		</md-button> 
		</md-list-item> 
		</md-list> 
		</div>
		
		 <md-divider layout-padding style="width:100%;"></md-divider>
	
		
		<div layout="row" ng-repeat="label in labels | filter : {label : '!'}">
		<md-list>
		<md-list-item>
		<md-icon md-svg-icon="images/icon/label_black.svg">
		</md-icon>
		<h5>{{label.labelName}}</h5>
		</md-list-item>
		</md-list>
		</div> 
		
		</md-sidenav>
		</div>