<top-nav-bar></top-nav-bar>
	
	<div class="container" layout="row" flex>
    <div flex layout="row">
    <side-nav-bar></side-nav-bar>
    </div>
		
		 
	 	        <div flex="70" layout-align="center center">
			    <md-card style="height:180px;width:280px;" ng-style="{'background-color' : data.color}" ng-repeat="data in data | filter :{trash :true} | filter :{archive:false} | filter :{pin:false}">
				
				<div>
			   <md-button ng-click="pin(data)" class="md-icon-button test-tooltip" aria-label="Pin">
               <md-tooltip md-direction="bottom">Pin</md-tooltip>
               <md-icon md-svg-src="images/icon/pin.svg" style="width: 24px; height: 24px">
               </md-icon>
               </md-button>
               </div>
              
               <div ng-click="showDailog($event,data)">
				<div layout="row" layout-align="center center" style="height:20%;">
				<md-input-container layout="row" flex> 
				<div layout="column">{{data.title}}</div>
				</md-input-container>
				</div>

                <div layout="row" layout-align="center center">
				<md-input-container layout="row" flex> 
				<div layout="column">{{data.description}}</div>
			    </md-input-container>
			    </div>
			   </div>
			   
			   <div layout="row" layout-align="start center">
			   <md-input-container layout="row" flex>
			   <div layout="column">{{data.reminderDate | date:'yyyy-MM-dd HH:mm:ss'}}
			   <span ng-click="deleteReminder(data)">
			    <md-icon ng-if="data.reminderDate" md-svg-src="images/icon/cancel.svg" style="margin-left:100%;margin-top:-15%;">
               </md-icon>
               </span>
			   </md-input-container>
			   </div>
			   </div>
               
               <div layout="row" layout-align="center center">
               <md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
					 <md-icon md-svg-icon="images/icon/reminder.svg"  aria-label="Remind me" >
	 			</div>
	            <md-menu-content>
	             <div layout="column">
	           	<md-input-container>	
		        <label>Select Date and Time</label>
                <input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
                placeholder="Date" show-todays-date="" min-date="date" ng-model="reminderDateTime"   class=" md-input" readonly="readonly">
                </md-input-container>


				<md-button ng-click="reminder(data,reminderDateTime)">save</md-button> 	
		        </div></md-menu-content> </md-menu> </md-menu-bar>

			   <div layout="row" layout-align="center center">
               <md-button class="md-icon-button test-tooltip" aria-label="Reminder">
               <md-tooltip md-direction="bottom">collaborator</md-tooltip>
               <md-icon md-svg-src="images/icon/collaborator.svg" style="width: 24px; height: 24px">
               </md-icon>
               </md-button>
               </div>
               
               <div layout="row" layout-align="center center">
               <md-button class="md-icon-button test-tooltip" aria-label="Archive" ng-click="archive(data)">
               <md-tooltip md-direction="bottom">archive</md-tooltip>
               <md-icon md-svg-src="images/icon/archive.svg" style="width: 24px; height: 24px">
               </md-icon>
               </md-button>
               </div>
               
               <div layout="row" layout-align="center center">
               <md-tooltip md-direction="bottom">change color</md-tooltip>
               <color-picker color="color" options="options" on-color-changed="colorChanged(newColor,data)">
               </color-picker>
               </div>
               
               <div layout="row" layout-align="center center">
               <md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
				<md-icon md-svg-icon="images/icon/photo.svg"  aria-label="Add Image" >
	 			</div>
	            <md-menu-content>
	             <div layout="column">
	           	<md-input-container>	
               <input type="file" ngf-select ng-model="data.notePicture" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                ngf-resize="{width: 100, height: 100}">
                <md-button ng-click="updateNotes(data)">Add Image</md-button>
                 </md-input-container>
		        </div>
		        </md-menu-content> 
		        </md-menu> 
		        </md-menu-bar>
		        
		        
			       <md-menu>
			      <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
			        <md-icon md-menu-origin md-svg-src="images/icon/more.svg" style="width: 24px; height: 24px"></md-icon>
			      </md-button>
			      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
			        <md-menu-item >
			          <md-button ng-click="deleteForver(data)">
			            DeleteForver
			          </md-button>
			        </md-menu-item>
			        
			        <md-menu-item >
			          <md-button ng-click="deleteNotes(data)">
			            Restore
			          </md-button>
			        </md-menu-item>
			        
			      </md-menu-content>
			    </md-menu> 
		       </div>
               
		       </md-list>
		       </div> 
               </div>
       </md-card>
       </div>